/* |---------------------1.Reset e Estilos Globais----------------------| */

/* Reset Padrão da Página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; /* Para textos corridos */
}

/* Define a imagem de fundo para todo o site */
body {
    background-image: url('../assets/Fundo_Site_Barber.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    color: white;
    font-size: 16px;
}


/* |---------------------2.Logo e Slider-------------------------------| */

/* Estilo para a logo no meio do slide */
.logo {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10; 
}

.logo img {
    max-width: 400px;
}


/* Define o tamanho e posicionamento do slider */
.slider {
    width: 100vw; 
    height: 100vh; 
    position: relative; 
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Configura o contêiner das slides para exibição em linha e animação */
.slides {
    display: flex; 
    transition: transform 0.6s ease-in-out; 
    height: 100%; 
    margin: 0;
    padding: 0;
    border-radius: 15px;
}

/* Define o tamanho e alinhamento das slides individuais */
.slide {
    min-width: 100vw; 
    height: 100vh; 
    position: relative;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* Estiliza as imagens dentro das slides */
.slide img {
    width: 100%; 
    height: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;

}

/* Responsividade */
@media screen and (max-width: 768px) {
    .logo {
        flex-direction: column;
        text-align: center;
    }}

    @media screen and (max-width: 768px) {
        .slide img {
            flex-direction: column;
            text-align: center;
        }}

/* |---------------------3.Botões de Navegação---------------------------| */

/* Estilo dos botões de navegação do slider */
button {
    top: 50%; 
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.356); 
    color: white;
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    font-size: 24px;
    z-index: 100;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    button{
        flex-direction: column;
        text-align: center;
    }}



/* |---------------------4.Botões e Barra de Navegação-------------------| */

/* Estilo dos botões dentro do contêiner */
.btn {
    margin: 0 10px; 
    border-radius: 10px;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo da barra de navegação */
.navbar-nav {
    display: flex; 
    align-items: center;
    flex-direction: column;
}

/* Estilo dos botões na barra de navegação Login / Cadastro*/
.nav-item button {
    background: linear-gradient(to right, #f6e7e7, #d8900b); /* Gradiente no fundo da navbar */

    color: white; 
    background-color: rgb(255, 199, 89);
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
    font-family:Arial, Helvetica, sans-serif
}

/* Estilo dos links dentro dos botões */
.nav-item button a {
    color: black; 
    font-weight: bold;
    text-decoration: none;
}

/* Estilo dos botões na barra de navegação ao passar o mouse */
.nav-item button:hover {
    background-color: rgb(173, 121, 15);
}

/* Estilo para a parte esquerda da barra de navegação */
.navbar-nav-left {
    display: flex;
    flex-grow: 1;
}

/* Estilo para a parte direita da barra de navegação */
.navbar-nav-right {
    display: flex;
    margin-left: auto;
    margin-top: 30px;
}

/* Estilo da barra de navegação personalizada */
.custom-navbar {
    background-color: #111111;
    padding: 0.5rem 1rem;
    opacity: 0.8;
}       

.custom-navbar .container-fluid {
    padding: 0;
    
}

.custom-navbar .navbar-nav {
    margin-left: auto;
}

.custom-navbar .nav-item {
    margin: -1px;
}

#Home_BNT {
    font-size: larger;
    margin-left: 30px;
    font-family:Arial, Helvetica, sans-serif
}


/* |---------------------5. Sobre o Barbeiro ------------------------------| */


#sobre_barbeiro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000cb;
    width: fit-content;
    margin-inline: auto;
    color: #e0e0e0;
    border: 2px solid white;
    border-radius: 15px;
}

/* Sobre o Barbeiro pag */

#sobre_barbeiro h1 {
    margin-top: 10px;
    padding: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

/* texto sobre o barbeiro */

#sobre_barbeiro p {
    font-size: 1.6em;
    margin-right: 15px;
    margin-left: 15px;
}

.sobre-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 5pc;
    gap: 20px;
    border-radius: 15px;
        
}

.sobre-conteudo img {
    max-width: 380px;
    border-radius: 10px;
}


.imagem-barbeiro {
    width: 200px; 
    height: auto;
    flex: 1; 
   
}


.sobre_texto {
    max-width: 680px;
    border-radius: 20px;
    
}


/* Responsividade */
@media screen and (max-width: 768px) {
    .sobre-conteudo {
        flex-direction: column;
        text-align: center;
    }}

/* |---------------------6. Agendamento de servicos / Grid e Itens -------------------------------| */

#servicos h1 {
    /* Centraliza o texto "AGENDE UM SERVICO" */
    font-family: 'Playfair Display', serif;
    color: #e0e0e0;
    background-color: rgba(24, 24, 24, 0.8);
    text-align: center;
    font-weight: 800;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    padding: 20px;

}

.grid-item {
    background-color: #f0f0f0;
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;

    max-width: 200px;  
    max-height: 200px; 
    margin-left: 130px;
    font-weight: 600;
    
}

/* Efeito de elevação ao passar o mouse */
.grid-item:hover {
    transform: translateY(-5px); 
    background-color: #e0e0e0;

}

/* Largura e Altura dos Icones */
.grid-item img {
    width: 50px; 
    height: 50px; 
    margin-bottom: 10px;
    
}


/* Escrita dos servicos */
.grid-item span {
    display: block;
    margin-top: 5px;
    font-size: 20px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }}

/* Estilos para a modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  serviços
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 90%;
    width: 70%;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 24px;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }

  .modal-content a {
    text-decoration: none;
  }

  .reservar-btn {
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #aaaaaa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reservar-btn:hover {
    background-color: #45a049
  }

  /* Responsividade para a modal */
@media (max-width: 1024px) {
    .modal-content {
        width: 80%; 
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 95%; 
        margin: 5% auto; 
        padding: 10px;
    }

    .close {
        font-size: 20px;
    }

    .reservar-btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* |---------------------7. Nossa Localização --------------------| */

#LOC { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: fit-content;
    margin-inline: auto;
    margin-top: 8px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
}

#BRANCO {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding: 20px;
}

#LOC iframe {
    width: 900px;
    height: 500px;
}

#LOC h1 {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-top: 5px;
    padding: 15px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    #LOC{
        flex-direction: column;
        text-align: center;
    }}

    @media screen and (max-width: 768px) {
        #LOC iframe  {
            flex-direction: column;
            text-align: center;
        }}

        @media screen and (max-width: 768px) {
            #LOC h1  {
                flex-direction: column;
                text-align: center;
            }}




/* |---------------------8.Imagens e Outros Estilos --------------------| */

div img {
    margin-left: 10px;
    transition: transform 0.2s;
}

div img:hover {
    transform: scale(1.1);
}

/* |---------------------footer--------------------| */

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-weight: 900;
}

.footer-container div {
    flex: 1;
    margin: 10px;
}

.footer-logo img {
    max-width: 250px;
}

.info, .social-media {
    text-align: center;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 40px;
    height: 40px;
    flex-direction: column;
}

.social-media h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.info h4 {
    font-weight: 600;
}
