* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/* Define a cor de fundo da página */

body {
    background-color: black !important;
    color: white !important;

}

/* Estilo para a logo */
.logo {
    position: absolute; /* Posicionamento absoluto dentro do slider */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Move o centro da logo para o centro exato da tela */
    z-index: 10; /* Garante que a logo fique acima das imagens do slider */
}

.logo img {
    max-width: 400px; /* Ajuste o tamanho da logo */

    
}

/* Define o tamanho e posicionamento do slider */
.slider {
    width: 100vw; /* Largura total da viewport */
    height: 100vh; /* Altura total da viewport */
    position: relative; /* Posicionamento relativo para os botões de navegação */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o contêiner */
    margin: 0;
    padding: 0;
}

/* Configura o contêiner das slides para exibição em linha e animação */
.slides {
    display: flex; /* Exibe as slides em linha */
    transition: transform 0.6s ease-in-out; /* Animação para a transição entre slides */
    height: 100%; /* Altura total do contêiner de slides */
    margin: 0;
    padding: 0;
}

/* Define o tamanho e alinhamento das slides individuais */
.slide {
    min-width: 100vw; /* Largura mínima para cobrir a viewport */
    height: 100vh; /* Altura mínima para cobrir a viewport */
    position: relative;
    margin: 0;
    padding: 0;
    display: flex; /* Flexbox para centralizar o conteúdo */
    justify-content: center; /* Alinha horizontalmente o conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
}

/* Estiliza as imagens dentro das slides */
.slide img {
    
        width: 100%; /* Largura total do slide */
        height: 100%; /* Altura total do slide */
        object-fit: contain; /* Preserva a proporção da imagem sem cortar */
        margin: 0;
        padding: 0;
    
}

.slide::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%; /* Ajuste a altura conforme necessário */
    box-shadow: inset 0px -10px 20px rgba(0, 0, 0, 0.8);
    pointer-events: none; /* Para evitar interferir na interação com a imagem */
}

/* Estilo dos botões de navegação do slider */
button {
    top: 50%; /* Posiciona verticalmente no meio */
    transform: translateY(-50%); /* Centraliza verticalmente */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    padding: 10px; /* Espaçamento interno */
    cursor: pointer; /* Cursor de mão para indicar clicável */
    font-size: 24px; /* Tamanho da fonte */
    z-index: 100; /* Garante que os botões fiquem sobre outros conteúdos */
}

/* Estilo dos botões de navegação "anterior" e "próximo" */
.prev {
    position: absolute; /* Posicionamento absoluto dentro do contêiner do slider */
    left: 10px; /* Alinha à esquerda */
}

.next {
    position: absolute; /* Posicionamento absoluto dentro do contêiner do slider */
    right: 10px; /* Alinha à direita */
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo mais escura no hover */
}

/* Estilo dos botões dentro do contêiner */
.btn {
    margin: 0 10px; /* Margem lateral entre os botões */
    border-radius: 10px; /* Bordas arredondadas */
    color: white; /* Cor do texto */
    border: 1px solid black; /* Borda preta */
    padding: 10px 20px; /* Espaçamento interno */
}
/* Estilo da barra de navegação */
.navbar-nav {
    display: flex; /* Flexbox para layout horizontal */
    align-items: center; /* Alinha itens verticalmente */
}

/* Estilo dos botões na barra de navegação */
.nav-item button {
    color: white; /* Cor do texto */
    background-color: rgb(255, 199, 89); /* Cor de fundo amarela */
    border-radius: 15px; /* Bordas arredondadas */
    padding: 5px 10px; /* Aumenta o padding interno dos botões */
    border: none; /* Remove a borda padrão */
    font-size: 18px; /* Aumenta o tamanho da fonte dos botões */
    margin-right: 8px; /* Adiciona um pouco de margem direita para espaçamento */
}

/* Estilo dos links dentro dos botões */
.nav-item button a {
    color: black; /* Cor do texto do link */
    font-weight: bold; /* Texto em negrito */
    text-decoration: none; /* Remove o sublinhado do link */
}

/* Estilo dos botões na barra de navegação ao passar o mouse */
.nav-item button:hover {
    background-color: rgb(173, 121, 15); /* Cor de fundo mais escura no hover */
}

/* Estilo para a parte esquerda da barra de navegação */
.navbar-nav-left {
    display: flex;
    flex-grow: 1; /* Permite que o container ocupe o espaço disponível */
}

/* Estilo para a parte direita da barra de navegação */
.navbar-nav-right {
    display: flex;
    margin-left: auto; /* Alinha à direita */
    margin-top: 30px;
}

/* Estilo da barra de navegação personalizada */
.custom-navbar {
    background-color: #111111; /* Substitua #333 pela cor desejada */
    padding: 0.5rem 1rem;
}       
.custom-navbar .container-fluid {
    padding: 0; /* Remove o padding do container se necessário */
}
.custom-navbar .navbar-nav {
    margin-left: auto; /* Garante que os itens sejam alinhados corretamente */
}
.custom-navbar .nav-item {
    margin: -1px; /* Remove o margin se necessário */
}

/* Sobre o Barbeiro pag */

.sobre-conteudo {
    display: flex;
    align-items: center; /* Centraliza verticalmente imagem e texto */
    justify-content: space-between; /* Espaça os itens */
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
    margin-top: 20px;
}

.sobre-conteudo img {
    max-width: 300px; /* Define o tamanho máximo da imagem */
    width: 100%; /* Garante que a imagem se ajuste ao container */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 20px; /* Adiciona espaço entre a imagem e o texto */
    border-radius: 10px; /* Bordas levemente arredondadas (opcional) */
}

.texto {
    max-width: 600px; /* Limita a largura do texto */
    font-size: 1.2em; /* Aumenta o tamanho da fonte do texto */
    line-height: 1.6; /* Espaçamento entre as linhas para melhorar a legibilidade */
}

.texto p {
    margin: 0; /* Remove espaçamento extra ao redor do parágrafo */
}

.sobre h2 {
    text-align: center; /* Centraliza o título */
    font-size: 2.5em; /* Aumenta o tamanho do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

.sobre-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.sobre-conteudo img {
    max-width: 400px; /* Define o tamanho máximo da imagem */
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
    border-radius: 10px; /* Bordas arredondadas na imagem */
}

.texto {
    max-width: 600px; /* Limita a largura do texto */
}

.texto p {  /* texto sobre o barbeiro*/
    margin: 0;
    font-size: 1.2em;
    line-height: 1.6;
    padding: 15px; /* Espaçamento interno */
    background-color: rgba(24, 24, 24, 0.8); /* Fundo branco semitransparente */
    color: #ffffff; /* Cor do texto */
    max-width: 100%; /* O texto ocupa todo o espaço disponível */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve ao redor do texto */
}

.sobre h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-left: 100px; /* Ajuste este valor para mover o texto mais à direita */
    color: #dae2df;
}

h1{
    margin: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas com largura igual */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    text-decoration: none;
    color: #333;
    cursor: pointer;

   
}

.grid-item:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    background-color: #e0e0e0;
}

.grid-item img {
    width: 50px; /* Largura dos ícones */
    height: 50px; /* Altura dos ícones */
    margin-bottom: 10px;
}
.grid-item span {
    display: block;
    margin-top: 5px;
    font-size: 16px;

}

div img{
    margin-left: 10px;
    transition: transform 0.2s;
}

div img :hover{
    transform: scale(1.1);
}

#Home_ID{

    font-size: larger;
    margin-left: 20px;

}
